{% extends 'base.html' %}

{% block wrapper_content %}
{% set min_price = tours.values()|list()|min(attribute="price") %}
{% set max_price = tours.values()|list()|max(attribute="price") %}
{% set min_duration = tours.values()|list()|min(attribute="nights") %}
{% set max_duration = tours.values()|list()|max(attribute="nights") %}
<h1 class="display-5 mt-4">Летим {{dep_city}}</h1>
<p class="mb-4">Найдено {{tours|length()}} тура, от {{min_price.price}} до {{max_price.price}} и от
    {{min_duration.nights}} ночей до
    {{max_duration.nights}} ночей</p>
<!-- CARDS -->
<div class="row mt-5">
    {% for tour_id, tour_data in tours.items() %}
    <div class="col-4">
        <div class="card mb-4">
            <img src="{{tour_data.picture}}" class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h2 class="h5 card-title">{{tour_data.title}}</h2>
                <p class="card-text">{{tour_data.description|truncate(90, True)}}</p>
                <a href="/tours/{{tour_id}}/" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}